.container.px-5.px-sm-0
  .row
    .col-md-3
      .row
        %h2 User info
        - if unchecked_notifications.any?
          %span.fa-stack.fa-xs
            = link_to notifications_path do
              %i.far.fa-bell.fa-stack-2x{ style:"font-size: 15px; padding-top: 15px;" }
              %i.fas.fa-circle.n-circle.fa-stack-1x
        - else
          %span.fa-stack.fa-xs
            %i.far.fa-bell.fa-stack-2x{ style:"font-size: 15px; padding-top: 15px;" }
            
      = render 'info', user: @user
      %h2.mt-3 New book
      = render 'books/form', book: @book
    .col-md-8.offset-md-1
      %h2 Books
      = render 'books/index',books: @books
