<table class="table table-hover">
  <% if @range == 'User' %>
    <tbody>
      <%= render 'users/index', users: @records %>
  <% else %>
      <%= render 'books/index', books: @records %>
    </tbody>
  <% end %>
</table>